<html>

<head>
    <title> Thank You </title>
    <link rel="stylesheet" href="style.css" />
    <meta name="viewport" content="width=device-width">
</head>
%>
<body>
    <div class="thanks-wrapper">
        <h1>Thank you for reaching out, <%= name%>!</h1>
     
        <img class="checkmark" src="/img/checkmark.png">
        <h3>
            I'll get back to you soon. You can also email me   directly at
            <a href="mailto:christiangallegosd@gmail.com?Subject=Hello%20again"
            target="_top">christiangallegosd@gmail.com.
            </a>
        </h3>
        <a href = "/" type = "link" class = "goback-link">Go Back</a>
    </div>
</body>

</html>